details summary {
    list-style: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.div-outil[open] .titre-summary::before {
    content: "\25BC";
    position: relative;
    margin-right: 10px;
    left: 0;
    top: -2px;
    vertical-align: middle;
    font-size: 0.5em;
}

.div-outil .titre-summary::before {
    content: "\25B6";
    position: relative;
    margin-right: 10px;
    left: 0;
    top: -2px;
    vertical-align: middle;
    font-size: 0.5em;
}


.div-autres-calcul {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 4px;
}

.div-autres-calcul[open] summary h2 {
    margin: 0;
}

.titre-summary {
    font-size: 1.5em;
    margin: 10px 0;
    font-family: Arial, sans-serif;
    color: #333;
}