.div-radios {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.div-radios > input {
    display: none;
}

.div-radios > input+label {
    display: flex;
    margin-bottom: 0;
    padding: 5px 10px;
    cursor: pointer;
    align-items: center;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-width: 1px 1px 0 1px;
}

.div-radios > input:last-of-type+label {
    border-radius: 0 20px 20px 0;
    border-bottom-width: 1px;
}

.div-radios > input:first-of-type+label {
    border-radius: 20px 0 0 20px;
}

.div-radios > input:checked+label {
    background: var(--color-emphase-background);
    color: var(--color-emphase-text);
    transition: background 0.5s linear;
}