:root {
    --color-primary-background: #e0e0e0;
    --color-primary-text: #000;
    --color-emphase-background: #000000;
    --color-emphase-text: #ffffff;
    --color-hover-light: #555555;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-primary-background);
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: var(--color-primary-text);
}

.div-titre {
    text-align: center;
}

.big-titre {
    font-weight: bold;
    font-family: "Avantgarde", sans-serif;
    margin: 40px 0 10px;
}

.sous-titre {
    margin: 0 0 30px;
}

/* Main Container */

.div-container {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.div-outil {
    min-width: 400px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* que les input de nombre */
/* input[type="number"] {
    width: 40px;
} */

@media (max-width: 800px) {
    /* medias queries */
}

