:root {
    --color-primary-background: #e0e0e0;
    --color-primary-text: #000;
    --color-emphase-background: #000000;
    --color-emphase-text: #ffffff;
    --color-hover-light: #555555;
}

body {
    margin: 0 0 100px;
    padding: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-primary-background);
}

.div-titre {
    text-align: center;
}

.big-titre {
    font-weight: bold;
    font-family: "Avantgarde", sans-serif;
    margin: 30px 0 10px;
}

.sous-titre {
    margin: 0 15px 30px;
}

.special {
    color: #cb0909;
}

/* Main Container */

.div-container {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.div-outil {
    min-width: 400px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;

    animation: apparition-smooth linear;
    animation-timeline: view();
    animation-range: entry 0% cover 10%;
}

.div-outil-travaux {
    min-width: 400px;
    padding: 10px;
    background-color: #ff4e4e;
    border: 3px solid #ff0000;
    border-radius: 4px;
}

.div-result {
    margin-top: 15px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

@keyframes apparition-smooth {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


@media (max-width: 800px) {

    .div-outil {
        width: 100%;
        min-width: 100px;
        margin: 0 20px 0;
    }
}