body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #e0e0e0;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: #000;
}

.div-titre {
    text-align: center;
}

.big-titre {
    font-weight: bold;
    font-family: "Avantgarde", sans-serif;
    margin: 40px 0 10px;
}

.sous-titre {
    margin: 0 0 30px;
}

/* Main Container */

.div-container {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    gap: 20px;
}


/* PROBAS */

.div-probas, .div-stats, .div-alea, .div-autres {
    border: 1px solid red;
}

/* que les input de nombre */
input[type="number"] {
    width: 40px;
}

@media (max-width: 800px) {
    /* medias queries */
}

